# Rename this file to .env and fill in your Binance Futures Testnet credentials.
# Get them from: https://testnet.binancefuture.com → API Management

BINANCE_API_KEY=rD9OMDxZsWM1pGmxUb9eQJ0UUYOIfZyIblNQxeUeBC7xvikdW13OXSCHuXVy61Lz
BINANCE_API_SECRET=L5zm3mYpRpIjBSM6bd6NmJInPwuI7odMSiP32uF3FmFSmkIQgvdboGZNCLw7YYSr
