# Rename this file to .env and fill in your Binance Futures Testnet credentials.
# Get them from: https://testnet.binancefuture.com → API Management

BINANCE_API_KEY=nm0tRrdaZcFdsH83peoE1rQJC9NY53sevmpkfr2TYB5JRj7xHcp7oK6AGNzwJMF7
BINANCE_API_SECRET=q6fO1ABv6vKr62iV8T2G6XVfwbwJZdKSNbSe6Y3I5el0CZaVZIVea1Z8s34Aspdq
